<!-- templates/yourapp/your_page.html -->
{% extends 'base.html' %}

{% block content %}
<style type="text/css">
    .main {
        min-height: 100vh;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .custom-container {
        margin-top: 20px; /* Настройте высоту верхнего отступа, которую вы предпочитаете */
        text-align: center; /* Выравнивание текста по центру */
    }

    .custom-container section {
        margin-bottom: 20px; /* Добавлен отступ между секциями */
    }

    .custom-container h2 {
         /* Цвет заголовка, если это необходимо */
    }
</style>

<div class="main">
    <div class="custom-container">
        <section>
            <h2>О нас</h2>
            <p>Клиенты доверяют нам в самых сложных вопросах, потому что знают, что мы поможем им снизить риски для бизнеса.</p>
        </section>

        <section>
            <h2>Годы практики</h2>
            <p>Наши специалисты имеют опыт юридической практики не менее 20 лет.</p>
        </section>

        <section>
            <h2>Конфиденциальность</h2>
            <p>В начале работы мы заключаем договор о неразглашении. Ваша частная информация не покинет пределов нашего офиса.</p>
        </section>

        <section>
            <h2>Персональный подход</h2>
            <p>Индивидуальная работа с каждым клиентом позволяет решать даже самые сложные проблемы.</p>
        </section>

        <section>
            <h2>Эффективность</h2>
            <p>На каждое дело мы выделяем специалиста, который единовременно работает только с вашей компанией.</p>
        </section>

        <section>
            <h2>Выгода</h2>
            <p>У нас фиксированные цены на стандартные услуги, поэтому вы всегда знаете, за что платите.</p>
        </section>
    </div>
</div>
{% endblock %}
